#custom-navbar {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    position: static;
    margin-bottom: 0px;
}

#icon {
    height: 95%;
    width: 95%;
}

h1 {
    text-align: center;
}

.container {
    max-width: 768px;
}

.link {
    text-align: center;
}

.link .link-button {
    text-align: center;
    font-size: 60px;
}

.link .link-text {
    text-align: center;
}

.fa {
    font-size: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    width: 100%;
    background-color: #;
    min-height: 50px;
    padding: 8px 0;
    margin: 24px 0 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    font-size: 13px;
}

.footer p {
    line-height: 3;
    margin: 0;
    text-align: center;
}

.link a:link {
    color: #000000;
    text-decoration: none;
}

.link a:visited {
    color: #000000;
    text-decoration: none;
}

.link a:hover {
    color: #AAAAAA;
    text-decoration: none;
}

.link a:active {
    color: #000000;
    text-decoration: none;
}